=render "shared/side-bar"

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        = @group.name

      = link_to 'edit','edit', class: 'chat-main__header--group-edit-btn'

    .chat-main__header-member
      Member:
      - @group.users.each do |user|
        = user.name

  .chat-main__body
    .chat-main__body--messages-list
      =render @messages

  .chat-main__footer
    .chat-main__footer-form
      .chat-main__footer-body
        = form_for [@group, @message], html: {id: 'send_message'} do |f|
          = f.text_field :body, class: 'message', placeholder: 'type a message'
          = f.label :image, class: 'chat-file' do
            = fa_icon 'picture-o'
            = f.file_field :image,class: 'image'
          = f.submit 'Send', class: 'submit'
