=render "shared/side-bar"

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        test01

      %a.chat-main__header--group-edit-btn{href: 'https://www.google.com'}
        edit

    .chat-main__header-member
      Members: member01 member02

  .chat-main__body
    .chat-main__body--messages-list
      =render partial: "chatmain-message"

  .chat-main__footer
    .chat-main__footer-form
      .chat-main__footer-body
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'message', placeholder: 'type a message'
          = f.label :image, class: 'chat-file' do
            = fa_icon 'picture-o'
            = f.file_field :image,class: 'image'
          = f.submit 'Send', class: 'submit'
